body	{
	background-color: #CDB99C;
	margin-right: 20%;
	margin-left: 20%;
	margin-top: 5%;
	margin-bottom: 15%;
}

h3	{
	font-family: 'Lobster'
}

h4	{
	font-family: 'Playfair Display';
	font-weight: 400;
	font-style: italic;
}

h5	{
	font-family: 'Playfair Display';
	font-style: italic;
}
article {
	font-family: 'Roboto', sans-serif;
	text-align: justify;
}